<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.ChapterDao">
    <sql id="Sql">
        id, url, size, duration, up_date, album_id,headline
    </sql>

    <insert id="Insert">
        insert into cmfz_chapter (<include refid="Sql"/>) values (#{id}, #{url}, #{size}, #{duration}, #{up_date},
        #{album_id},#{headline})
    </insert>

    <delete id="Delete">
        delete from cmfz_chapter where id=#{id}
    </delete>

    <update id="Update">
        update cmfz_chapter
        <set>
            <if test="headline!=null">
                headline=#{headline},
            </if>
            <if test="url!=null">
                url=#{url},
            </if>
            <if test="size!=null">
                size=#{size},
            </if>
            <if test="duration!=null">
                duration=#{duration}
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="queryByPage" resultType="Chapter">
        select
        <include refid="Sql"/>
        from cmfz_chapter  where album_id=#{albumId} limit #{start},#{rows}
    </select>

    <select id="queryByTotal" resultType="int">
        select count(*) from cmfz_chapter where album_id=#{albumId}
    </select>

</mapper>